# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate

# Swift Package Manager
/.build/
/Packages/
Package.resolved

# CocoaPods
/Pods/

# Carthage
/Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

GoogleService-Info-Prod.plist
**/GoogleService-Info-Dev.plist
**/GoogleService-Info-Staging.plist
**/GoogleService-Info-Prod.plist
